html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

img {
  pointer-events: none;
}

.navbar {
  display: flex;
  width: 90%;
  padding: 10px 10% 10px 10%;
  position: fixed;
  margin: 15px 5%;
  background-color: rgba(255, 255, 255, 0.815);
  border-radius: 80px;
  z-index: 1001;
  box-shadow: 2px 2px 5px grey;
}

.brand {
  height: 50px;
}

.links {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.nav-link {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  padding: 5px 15px;
  box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.5);
  color: black;
  transition: all 0.3s ease;
  border: none;
}

.nav-link:hover {
  background-color: #6C63FF;
  transform: scale(1.1);
  color: aliceblue;
}

.burger {
  display: none;
  cursor: pointer;
  border-radius: 50px;
  padding: 5px 15px;
  box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.5);
  color: black;
}

.burger div {
  width: 25px;
  height: 2px;
  background-color: black;
  margin: 5px;
  transition: all 0.3s ease;
}

.noround {
  border-radius: 0%;
}

.container-fluid {
  padding: 30px;
}

.full {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

.lander {
  background-image: radial-gradient(ellipse at left top, #6d63f657, #eee);
}

.holder {
  display: flex;
  vertical-align: middle;
  height: 100%;
}

.sixty {
  flex: 60%;
  padding: 20px;
}

.fifty {
  flex: 50%;
  padding: 20px;
  margin: auto;
}

.forty {
  flex: 40%;
  padding: 20px;
}

.svg {
  width: 100%;
}

a:link {
  text-decoration: none!important;
}

.center {
  text-align: center;
}

.desc {
  margin: 20px 0;
  font-size: 20px;
}

.pagelink {
  padding-top: 100px;
}

.button {
  background-color: #6C63FF;
  padding: 10px 30px;
  color: aliceblue;
  font-family: Josefin Sans;
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
  border: 2px solid #6C63FF;
  transition: all ease 0.3s;
  margin-right: 20px;
  margin-top: 40px;
}

.buttoninv {
  background-color: transparent;
  padding: 10px 30px;
  color: #6C63FF;
  font-family: Josefin Sans;
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
  border: 2px solid #6C63FF;
  transition: all ease 0.3s;
}

.button:hover {
  transform: translateY(-15%);
}

.buttoninv:hover {
  background-color: #6C63FF;
  color: aliceblue;
  transform: translateY(-15%);
}

h1 {
  color: #6C63FF;
  font-size: 5vw;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}

.row {
  margin: 15px 0;
}

.col {
  text-align: justify;
  padding: 20px;
  margin: 50px 15px;
  border-radius: 15px;
  transition: all 0.3s ease;
  box-shadow: 8px 8px 18px rgba(128, 128, 128, 0.55), -8px -8px 18px #ffffff;
}

.col:hover {
  transform: scale(1.075);
}

.features {
  height: 150px;
  margin-bottom: 5px;
}

.pricerow {
  width: 70%;
  margin: 3% 15%;
  display: flex;
}

.card {
  width: 33%;
  background-color: #6C63FF;
  border-radius: 20px;
  padding: 15px;
  margin: 4px;
  color: aliceblue;
  text-align: center;
  transition: 0.6s ease transform, 0.3s ease box-shadow, 0.3s ease background-color;
}

.deal {
  height: 180px;
}

.deal ul {
  text-align: left;
  margin: 15px auto;
}

.price h2 {
  font-size: 40px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid #4036ff;
  line-height: 150px;
  vertical-align: middle;
}

.card:hover {
  box-shadow: 0px 0px 20px black;
  transform: scale(1.1);
  z-index: 1000;
  background-color: #ff9137;
}

.pricebutton {
  background-color: #ff9137;
  padding: 10px;
  color: aliceblue;
  font-family: Josefin Sans;
  font-size: 20px;
  width: 50%;
  text-align: center;
  border-radius: 10px;
  border: 2px solid #6C63FF;
  transition: all ease 0.3s;
}

.pricebutton:hover {
  background-color: white;
  color: #ff9137;
}

.footer {
  background-color: #6C63FF;
  color: aliceblue;
  margin-bottom: 0;
  padding: 10px;
}

.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1002;
}

.slider {
  background: #6C63FF;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  z-index: 1002;
}

.intro-text h1 {
  color: rgb(233, 233, 233);
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
}

.hide {
  background: black;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}

.mobilesubheading {
  display: none;
  color: rgb(92, 92, 92);
}

.head {
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
}

.quotecard {
  height: auto;
  width: max-content;
  background-color: #ffffff;
  box-shadow: 8px 8px 18px rgba(128, 128, 128, 0.55), -8px -8px 18px #ffffff;
  border-radius: 20px;
  padding: 35px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
}

.quotecard h3 {
  font-family: Josefin Sans;
  margin: 0 0;
}

.quotestart {
  font-size: 50px;
  position: absolute;
  left: -15px;
  top: -25px;
}

.quoteend {
  font-size: 50px;
  position: absolute;
  right: -15px;
  bottom: -25px;
}

table {
  border-collapse: separate;
  border-spacing: 0 10px;
  margin-top: -10px;
  margin-bottom: 50px;
  border-radius: 20px;
}

td {
  border: solid 1px transparent;
  border-style: solid none;
  padding: 10px;
  box-shadow: 0px 2px 2px grey;
  transition: all 0.3s ease;
}

td:first-child {
  border-left-style: solid;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

td:last-child {
  border-right-style: solid;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.packages {
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.thead {
  color: aliceblue;
}

.thead td {
  padding: 20px;
  background-color: #6C63FF;
  font-size: larger;
  font-weight: bold;
  text-transform: uppercase;
}

.trow:hover td {
  background-color: #ff9137;
  color: aliceblue;
}

.workcard {
  width: 95%;
  background-color: white;
  box-shadow: 8px 8px 18px rgba(128, 128, 128, 0.55), -8px -8px 18px #ffffff;
  height: 240px;
  border-radius: 15px;
  overflow: hidden;
}

.workimg {
  width: 100%;
  margin: 0 0;
  transition: all 0.3s ease;
}

.workcard:hover img,
.workcard img:hover {
  transform: scale(1.075);
}

.worktitle {
  padding: 15px;
  font-family: Josefin Sans;
  position: relative;
  background-color: white;
  z-index: 5;
}

.container h6 {
  margin-bottom: 35px;
}

.whitecard {
  box-shadow: 8px 8px 18px rgba(128, 128, 128, 0.55), -8px -8px 18px #ffffff;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 15px;
}

.whitecard a {
  color: #6C63FF;
}

.small {
  font-size: 18px;
}

label {
  font-family: Josefin Sans;
}

input {
  border-radius: 10px;
  height: 30px;
  width: 80%;
  border: none;
  padding: 20px;
  box-shadow: 8px 8px 18px rgba(128, 128, 128, 0.55), -8px -8px 18px #ffffff;
}

textarea {
  border-radius: 10px;
  border: none;
  width: 80%;
  padding: 20px;
  box-shadow: 8px 8px 18px rgba(128, 128, 128, 0.55), -8px -8px 18px #ffffff;
}

.toes {
  width: 100%;
  background-color: #5f58e4;
  margin: 0 0;
  color: aliceblue;
  padding: 8px;
  font-size: 15px;
}

.foot-links li {
  list-style: none;
}

.foot-links {
  color: aliceblue;
}

.foot-links:hover {
  color: aliceblue;
}

@media screen and (max-width: 1000px) {
  .holder {
    flex-direction: column-reverse;
  }
  .pricerow {
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 5% 10%;
  }
  .card {
    width: 100%;
  }
  button {
    margin-top: 8px;
  }
  .full {
    height: auto;
  }
  .brand {
    height: 30px;
  }
  .links {
    display: none;
  }
  .burger {
    display: block;
  }
  body {
    overflow-x: hidden;
  }
  .links {
    position: absolute;
    right: -25px;
    height: 85vh;
    top: 60px;
    margin-top: 2.5px;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 20px;
    z-index: 1001;
    box-shadow: 2px 2px 5px grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    font-size: 25px;
  }
  .links a {
    color: rgba(0, 0, 0, 0.9);
  }
  .links a:hover {
    color: black;
  }
  .links div {
    opacity: 0;
  }
  .holder {
    margin-top: 45px;
  }
  .row {
    flex-direction: column;
    width: 90%;
    align-items: center;
    margin: auto 5%;
  }
  .mobilesubheading {
    display: block;
  }
  .col {
    width: 100%;
    margin-left: 0;
  }
  .footer .container .row {
    flex-direction: column-reverse;
  }
  .footer .container .row ul {
    float: left;
    padding: 0;
  }
  .col-sm-4 {
    margin: 10px;
    padding: 10px;
  }
  .under {
    border-bottom: 1px solid #4036ff;
  }
  .intro-text {
    margin-left: 20%;
  }
  .intro-text h1 {
    font-size: 2rem;
  }
  .quotecard {
    width: 80%;
  }
}

.nav-active {
  transform: translateX(-12%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -6px);
}