body {
    background-color: rgb(243, 243, 243);
}

.heading {
    font-size: 100px;
    margin: 15% 10% 20px 10%;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

.subheading {
    text-align: center;
    font-size: 20px;
    margin: 0 10% 0 10%;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
}

.red {
    color: #ff5656;
    font-weight: 700;
    font-style: italic;
    text-shadow: 3px 3px 5px rgba(0, 0, 0);

}

.muted {
    color: rgb(107, 107, 107);
}

.mutedred {
    color: #ff7070;
}

.bold {
    font-weight: 700;
}

@media screen and (max-width: 700px){
    .heading {
        font-size: 50px;
        margin-top: 30%;
    }
}